body {
  font-family: Helvetica;
  max-width: 900px;
  margin: 0px auto;
  padding: 5%;
  background-color: #A3ADFF;
  font-weight: 100;
}

.thank-you{
  background-color: #CBFBFF;
}
table{
  border-collapse: collapse;
  margin: 50px auto;
  text-align: center;
}

.table-headings {
  background-color: #FF9DDC;
}

.species{
  font-style: italic;
}

.titles:first-child{
  border: dotted;
  background-color: #FF9DDC;
  padding: 0px;
  font-size: 75px;
  margin: 0px;
  text-align: center;
  font-weight: 400;
}

.titles{
  font-weight: 200;
  text-align: center;  
}

#facts{
    width:80%;
    margin:0 auto;
    text-align:left;
}

.left-column{
  float: left;
  width: 80%;
}

#tantrum{
  padding: 10%;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

#right-column{
  float: left;
  width: 15%;
  padding-left: 5%;
  padding-top: 20%;
  font-size: 75%;
 }

fieldset{
  border: none;
}

textarea{
  width: 250px;
  padding: 3%;
  background-image: url('images/sun.jpeg');
  font-family: Times New Roman;
}

.form{
  font-weight: 200;
}

button{ 
 margin-left:10%;
}

footer{
  padding-top: 20%;
  text-align: center;
}

#soccer-ball{
  padding: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 470px) {
  body{
    width: 470px;
  }
  .thank-you{
    width: 100%;
  }
  #left-column{
    width: 100%;
  }
  #right-column{
    width: 100%;
  }
}
@media screen and (max-width: 660px) {
  #soccer-ball{
    width: 80%;
    display: block;
    margin-left: auto;
  margin-right: auto;
  }
}
